.navContainer{
    background-color: rgba(245, 245, 245, 0.644);
}
.arrowContainer{
    border: 2px solid black;
    // text-align: center;
}
.logoText{
    font-family: 'Sacramento', cursive;
    font-weight: 900;
}